html{
  height: 100vh;
}
.About {
    padding-top: 10px;
    text-align: center;
    color: white;
    height:auto;
    background-image: url("photos/hotelB.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .About h1 {
    font-size: 3.5rem;
  }
  .About h2 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  .About p {
    font-size: 1.3rem;
    color: rgb(2, 238, 255);
  }
  #copyright{
    color: rgb(255, 255, 255);
  }
  @media(max-width: 650px){
    .About h1 {
      font-size: 2.0rem;
    }
    .About h2 {
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
    }
    
    body{
      height: fit-content;
    }

  }