* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* #sign_in{
  visibility: hidden;
} */
/* global styles */
a {
  text-decoration: none;
  color: #fff;
  margin-right: 35px;
}
/* ........End global styles........... */
.wrapper {
  width: 100%;
}
/* .....................nav area style........... */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: rgb(98, 67, 155);
  color: #fff;
  padding: 0 40px;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
}
/* .........Icons................... */
.home_route {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_route span {
  color: rgb(192, 188, 188);
  width: 25px;
  height: 25px;
}
.Order_route {
  display: flex;
  align-items: center;
}
.Order_route span {
  color: rgb(224, 45, 45);
  width: 25px;
  height: 25px;
}
/* .........End of Icons................... */
nav a {
  padding: 10px;
}
nav a:hover {
  color: rgb(255, 198, 9);
  margin-right: 35px;
}
nav #logo {
  padding: 0px;
  margin-left: -30px;
  height: 90px;
  width: 80px;  
}
.navlinks {
  display: flex;
  align-items: center;
}
.navlinks li {
  /* position: relative; */
  list-style: none;
}
nav ul ul {
  position: absolute;
  display: none;
  line-height: 40px;
  background: rgb(33, 144, 209);
  width: auto;
  transition: animate 1s ease;
}
nav ul ul li:hover {
  background-color: rgb(129, 199, 199);
}
nav ul ul li a:hover {
  color: #000;
}

nav ul li:hover ul {
  display: block;
}
/* .....................End of nav area style........... */
.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  color: white;
  height: calc(100vh - 180px);
  background-image: url("photos/hotelB.jpg");
  background-size:cover;
  background-repeat: repeat;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
}

/* ......................Area that covers the screen height style.............................. */
.AreaCoveringTheScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  height: calc(100vh - 80px);
  background-image: url("photos/hotelB.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.AreaCoveringTheScreen h1 {
  font-size: 5.5rem;
  text-shadow: 0px 0px 5px rgb(0, 106, 245), 0px 5px 5px rgb(173, 0, 0);
  box-shadow: 5px 5px 5px rgba(81, 85, 143, 0.596);
}
.AreaCoveringTheScreen p {
  font-size: 1.2rem;
  color: rgb(2, 238, 255);
}
.AreaCoveringTheScreen p a {
  height: 10px;
  width: 40px;
  color: rgb(255, 255, 255);
  border: 1px;
  border-style: inset;
  padding: 3px;
  transition: animate 1s ease;
}
.AreaCoveringTheScreen p a:hover {
  background: rgb(187, 83, 65);
  color: #000;
}
.MenuIcon{
  display: none;
  height: 10px;
  width: 20px;
}
.CancelMenuIcon{
  display: none;
  height: 10px;
  width: 20px;
}
#SpanForServices{
  display: none;
}

.services{
  height: auto;
  max-width:100%;
  background-color: rgb(228, 206, 226);
  margin: 20px;
  border-radius: 20px;
}
.FacilitiesServices{
display: flex;
justify-content: space-between;
margin-left: 100px;
margin-right: 200px;
text-shadow: 0px 0px 5px rgb(255, 242, 0), 0px 5px 5px rgb(173, 0, 0);
}
.facility{
  display: flex;
  justify-content: space-between;
}
.services h3{
  margin: 10px;
}
span{
  margin: 10px;
}
#facilityIcons svg{
  height: 40px;
  transition: 750ms ease;
}
#facilityIcons svg:hover{
  transform: scale(1.7);
  }

.book{
  height: auto;
  max-width:100%;
  background-color: rgb(228, 206, 226);
  margin: 20px;
  border-radius: 20px;
}
#myphoto{
  border-radius: 70%;
  width: 50px;
}
.book h1{
  font-size: 2.0rem;
  text-align: center;
  text-shadow: 0px 0px 5px rgb(255, 242, 0), 0px 5px 5px rgb(173, 0, 0);
}
.book span{
   display: flex;
   justify-content: space-evenly;
}
.book div{
  height: auto;
  max-width: 300px;
  margin: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
#room1{
  background-image: url("photos/Kings lodge.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 750ms ease;
}
#room1:hover{
  transform: scale(1.1);
}
#room2{
  background-image: url("photos/Queens lodge.jpg");
  background-size: contain;
  background-repeat: no-repeat;
 transition: 750ms ease;
}
#room2:hover{
  transform: scale(1.1);
}
#room3{
  background-image: url("photos/lodge.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 750ms ease;
}
#room3:hover{
  transform: scale(1.1);
}
#RoomType{
  margin-top: 75%;
  text-align: center;
  color: tomato;
}

.book h4{
  color: rgb(0, 0, 0);
 padding: 5px;
}
.book h3{
  color: tomato;
  margin-left: 8%;
  text-decoration: underline;
  margin-right: 10%;
  padding: 10px;
}
#RoomExplanation{
font-size: 13px;
}
#booking{
padding: 10px;
margin-left: 50%;
margin-bottom: 2%;
background-color: tomato;
font-size: 20px;
border-radius: 10px;
border-style:inset;
}
#booking:hover{
  background-color: rgb(254, 38, 0);
}
#PriceVictoria{
  display: flex;
  justify-content: space-between;
}
#bookinRoom{
  padding: 6px;
}

/* .........................@small Screens................... */

/* ..................................End of Display services..................... */
#review{
  margin-left: 20px;
  text-align: center;
  width: 90%;
  text-shadow: 0px 0px 5px rgb(255, 242, 0), 0px 5px 5px rgb(173, 0, 0);
  box-shadow: 5px 5px 5px rgba(81, 85, 143, 0.596);
}
.rev{
  display:flex;
  justify-content: space-between;
  padding: 20px;
}

#p1{
  height : auto;
  max-width: 300px;
  padding: 10px;
  background-color: rgb(197, 154, 190);
  border-radius: 10px;
  margin-left: 10px;
}
#profile1{
  margin-left: 40%;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}
.staring{
  display: flex;
  margin-left: 25%;
}
#star{
  margin-left: 2%;
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: rgb(244, 253, 56);
}
#Name{
  text-align: center;
}
.CommentMap{
display: flex;
justify-content: space-between;
height: auto;
background-color: rgb(255, 255, 255);
width: 100%;
}

#mapArea{
width: 40%;
}
.FeedBackSection{
  height: auto;
  width:45%;
  background-color: rgb(228, 206, 226);
  margin: 20px;
  border-radius: 20px;
}
.FeedBackSection h1{
  text-align: center;
  text-shadow: 0px 0px 5px rgb(255, 242, 0), 0px 5px 5px rgb(173, 0, 0);
 
}
#LeavingFeedBack{
  height: 150px;
  width: 80%;
  font-size: 16px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
  padding: 20px;
}
.form-label{
  margin-left: 10%;
  font-size: 1.3rem;
}
.FeedBackSection button{
  margin-left: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}
iframe{
  margin-right: 10px;
  height: 320px;
  width:  100%;
  padding-right: 20px;
  border-radius: 7px;
}
/* ..................Footer.............................. */
.Bottom {
  display: flex;
  /* width: 90%; */
  height: fit-content;
  background: rgb(96, 96, 156);
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
.Bottom h4 {
  font-weight: bold;
  color: #000;
}
.indexAbout{
  text-align: center;
}
#adress{
  margin-left: 20px;
  margin-top: 20px;
}
#indexAbout{
  margin-right: 80px;
  margin-top: 20px;
}
#sociallog{
  display: flex;
  height: 30px;
  width: 30px;
  margin-top: 20px;
  margin-right: 300px;
  color: rgb(0, 0, 0);
}
#sociallog p{
  padding: 3px;
}



html {
  scroll-behavior:smooth;
}





/* ..................End of Footer.............................. */
@media(max-width: 820px)and (min-width: 650px) {
  .hero-section h1 {
    font-size: 4.5rem;
    padding: 20px;
    box-shadow: none;
  }
  .hero-section p {
    font-size: 1.1rem;
    padding: 20px;
  }
  .MenuIcon{
    display: none;
  }
  .CancelMenuIcon{
    display: none;

  }
  nav {
    font-size: 0.8rem;
  }
 .navlinks li a{
  width: 45px;
  padding: 25px;
  font-size: 1rem;
}

.rev{
  display: grid;
  grid-template-columns: repeat(2,2fr);
 
}
#p1{
 margin:10px;
 width: 250px;
}
.Bottom {
  display: flex;
  height: fit-content;
  background: rgb(96, 96, 156);
  justify-content: space-between;
  color: rgb(255, 255, 255);
}

#adress{
  margin-left: 20px;
  margin-top: 20px;
  width: 250px;
}
#adress p{
font-size: 0.9rem;
}
#indexAbout{
  margin-right: 80px;
  margin-top: 20px;
}
#sociallog{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  height: 10px;
  width: 10px;
 
}
#sociallog p{
  height: 70px;
  width: 70px;
}
#follow_us_Tag{
  font-size: 12px;
  margin-top: 100px;
  
}
#facilityIcons svg{
  height: 30px;
}
.foods_drinks_Section{
  display:block;
  overflow: scroll;
}

}








  
  /* @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  } */

/* .................................................. */





@media(max-width: 650px){
  html{
    max-width: 100%;
    overflow-x: hidden;
} 
 body{
  max-width: 100%;
  overflow-x: hidden;
}
  .hero-section h1 {
    font-size: 3.5rem;
    padding: 20px;
    box-shadow: none;
  }
  .hero-section p {
    font-size: 1.rem;
    padding: 20px;
  }
  .MenuIcon{
    display: block;
    margin-left: 100%;
    margin-top: -70px;
    cursor: pointer;
  }
  .CancelMenuIcon{
    display: block;
    height: 30px;
    margin: 10px;
    cursor: pointer;
  }
  nav {
    display:block;
  }
  .home_route{
    display: block;
    padding: 0;
    margin-left: 10px;
  }
  .facility{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    /* height: auto; */
  }
  #SpanFornavTab{
    display:none;
  }
  #SpanForServices{
    display:inline-block;
    margin-left: 30px;
    height: 10px;
  }
  #dropdown-menu{
    display: none;
  }
  nav ul ul{
    margin-left: 120px;
  }
  nav ul li:hover ul {
    display: none;
  }
  .navlinks li{
    font-size: 16px;
  }
  .navlinks li:hover{
    background: rgb(24, 55, 196);
  }
  
  .navlinks {
    
    position: absolute;
    display: block;
    line-height: 50px;
    background-color: rgb(42, 42, 89);
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    z-index: 2 ;
    transition: 1s;
  }
  #facilityIcons svg{
    height: 20px;
  }
  #facilityIcons{
   overflow :scroll;
  }
 
  .book span{
    display: flex;
    justify-content: space-between;
    overflow:scroll;
 }
    .rev{
      display: grid;
      grid-template-columns: repeat(2,1fr);
     
    }
    #p1{
      padding: 10px;
      height: auto;
      width: 160px;
      
  border-radius: 10px;
  margin: 10px;
}
#profile1{
  margin-left: 40%;
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
}
.Bottom {
  display: block;
  overflow: hidden;
}
.FeedBackSection{
  font-size: 0.7rem;
}
#feedBack button{
margin-left: 20%;
}
iframe{
  margin-top: 100px;
  height: 150px;
  width: 150px;
}
#indexAbout{
 margin-top: 30px;
 margin-left: 20px;
 padding: 10px;
}
#sociallog{
  
  display: flex;
  margin-right: 30px; 
  padding: 10px;
  margin-bottom: 20px;
}
#follow_us_Tag{
  margin-bottom: 60px;
  margin-left: 10px;
  width: 100%;
}
}


.login_form{
  height: 500px;
  width: auto;
  margin-top: 20px;
  background-color: rgb(195, 222, 236);
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
#loginCredentials{
  padding: 20px;
}
.login_form h2{
  margin: auto;
  color: #000;
  padding: 20px;
}
.login_form h4{
  padding: 20px;
}
#loginCredentials label{
font-size: 20px;
font-weight: bold;
color: #000;
}
#loginCredentials input{
  margin-left: 10px;
  height: 30px;
  width: 70%;
  font-size: 15px;
}
#loginCredentials button{
  width: 70%;
  height: 30px;
  background-color: rgb(64, 64, 159);
  color: #fff;
}
#loginCredentials h4{
  color: #000;
}
#sign_in_options svg{
  color: rgb(38, 0, 209);
  margin-left: 20px;
}

/* ..................For Sign up................................ */
.Sign_up_form{
  height: 500px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: rgb(195, 222, 236);
}
.Sign_up_form h2{
  margin: auto;
  color: #000;
  padding: 20px;
}
#inputs{
  float: left;
 padding: 20px;
}
#inputs label{
font-size: 20px;
font-weight: bold;
color: #000;
}
#inputs input{
  margin-left: 10px;
  float: right;
  height: 30px;
  font-size: 15px;
}
#inputs button{
  margin-left: 30%;
  width: 70%;
  height: 30px;
  background-color: rgb(64, 64, 159);
  color: #fff;
}
#inputs h4{
  color: #000;
}
#sign_in_options svg{
  color: rgb(38, 0, 209);
  margin-left: 20px;
}
/* ................................................... */






